body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-bottom: 100px;
}
nav img{
width: 80%;
height: 45px;
}
.btn-buy{
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.carousel-item{
    padding: 20px 40px;
}

.carousel-indicators .active {
   
    background-color: orange;
}
.sel1, .sel2, .sel3{
    padding: 10px 30px;
    border-radius: 10px;
}


.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    text-align: center;
}
.card-footer{
    background-color: white;
    border-top: none;
}

.card-des{
    color: orange;
}

.categories h3{
text-align: center;
text-decoration: underline;
text-decoration-color: orange;
line-height: 100px;

}

.categories h6{
    text-align: center;
}

p{
    color :darkgray;
}
